
@media only screen and (max-width: 650px){
    body{
        flex-direction: column;
    }

    #lbTitulo{
        
        margin-left: 20%;
        font-size: 25px;
        text-align: center;
    }

    #divFoto{
        margin-top: 40px;
        margin-left: 30%;
        font-size: 20px;
        flex-direction: column;
    }  

    #lbUsuario, #lbSenha{

        flex-direction: column;
    }  

    #inputSenha{
        margin-top: 2px;
        margin-left: 11px;
    }

    #btLogin{
        margin-top: 3px;
    }

 
}

html{
   /* background-image: linear-gradient(to bottom, black 80%, green);*/
}


body{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

main{
    background-color: white;
}

.foto{
    border: solid;
    width: 100px;
    height: 100px;
    margin-top: -45px;
    margin-left: 43%;
    margin-bottom: 10px;
    flex: 1;
    
}

.usuario{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.name{
    margin-top: 80px;
}

.titulo{
    margin-top: 200px;
    margin-left: 110px;
    font-size: 50px;
}

header{
    width: 99,8%;
    height: 150px;
    margin-bottom: 2px;
    flex: 1;
    background-color:white;

}

.menu{
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #343434;
    flex: 1;
}

.botaoEntrar{
    background-color: #F0CC01;
    border: none;
    color: black;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.espacamentoMenu{
    margin-left: 80px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family:sans-serif
    font-weight: bold;
}

nav{
    background-color: white;
}

.navMenu{
    background-color:#343434;
    margin-left: 20px;
    margin-right: 20px;
    width: 99,8%;
    height: 50px;
    flex: 1;
}

.conteudoSecao{
    background-color: lightgray;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    width: 99,8%;
    height: 670px;
    flex: 1;

}


.rodaPe{
    background-color: #343434;;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    width: 99,8%;
    height: 120px;
    flex: 1;

}

.menu a:hover{
    background-color: #F0CC01;
    color: black;
    padding: 5px;
}