
@media only screen and (max-width: 1410px){

    body{
        flex-direction: column;
        margin-top: -100px;
        margin-left: 0%;
        margin-right: 0%;
    }
    
    #frmLogin{
        visibility: hidden;
    }

    #imgIOT{
        width: 210px;
    }

    #lbTitulo{
        
        margin-left: 20%;
        font-size: 25px;
        text-align: center;
        flex-direction: column;
    }

    #article3{
        margin-left: 0px;
    }

    #lbUsuario, #lbSenha{

        flex-direction: column;
    }  

    #inputSenha{
        margin-top: 2px;
        margin-left: 11px;
        flex-direction: column;
    }

    #btLogin{
        margin-top: 3px;
    }

    #tituloPost{
        font-size: 20px;
    }

    #btVerMais{
        flex: 1;
        flex-direction: column;
        visibility: hidden;
    }

    #frmLogin{
        visibility: hidden;
    }

 
}

html{
}

.conteudoContribuicao{
    width: auto;
    height: 900px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
    background-color: #f7f7f7;
}

body{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

main{
    background-color: white;
    
}

.imgContribuicoes{
    width:         100px;
    height:        100px;
    margin-top:    -50px;
    margin-left:   2%;
    margin-bottom: 220px;
    margin-top:    3px;
}

.imgInicio{
    border: solid;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 3px;
}



.textoPostagem{
    margin-left: 10px;
    margin-top: -1px;
    
}



.usuario{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.name{
    margin-top: 80px;
}

.titulo{
    margin-top: 200px;
    margin-left: 20px;
    font-size: 50px;
}

header{
    all: unset;
    width: 99,8%;
    height: 20px;
    margin-bottom: 2px;
    flex: 1;
    background-color:white;

}

.botaoEntrar{
    background-color: rgb(255, 199, 45);
    border: none;
    color: black;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



nav{
    background-color: white;
}


.conteudoSecao{
    
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
    background-color: #f7f7f7;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    width: auto;
    height: auto;
    
}


.rodaPe{
    background-color: #333;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 20px; 
    margin-right: 20px;
    height: 120px;
    flex: 1;

}

.usuario a:hover{
    background-color: rgba(241, 238, 15, 0.747);

}

input:not([type="checkbox"]){
    width: 30%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  #inputUsuario{
    height: 5px;
    width: 25%;
  }
  
  #inputSenha{
    height: 5px;
    width: 25%;
  }
